body{
    margin: 0;
}

header {
    background-color: dodgerblue;
    min-height: 60px;
    padding: 10px;
}

.content{
    padding: 0;
    max-width: 1200px;
    margin: 0px auto;
    min-height: 50px;
    background-color: dodgerblue;
    padding: 10px;
}

.logo-header{
    width: 200px;
    float: left;
}

.menu-header{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.5em;
    float: right;
}

.menu-header:hover{
    border-bottom: 2px solid white;
}